.paragraph{
    display: flex;
    font-size: 35px;
    line-height: 1;
    padding: 20px 8%;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    font-weight: 900;
    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      .shadow{
        position: absolute;
        opacity: 20%;
      }
      &--mask{
        position: absolute;
        display: none;
        // background: #ec4339;
        color: black;
      
      }
    }
    @media only screen and (min-width: 1000px) {
      font-size: 100px;
      line-height: 100%;
      padding: 40px 8%;
    }
    
    &--words{
      text-align: left;
      text-transform: uppercase;
      max-width: 100%;
      @media only screen and (min-width: 1000px) {
        font-size: 110px;
        padding: 40px 8%;
      }
    }
  } 

  .border{
    position: relative;
    z-index: 20;
    border-top: 1px solid hsla(37, 18%, 66%, .15);
   
    &::before,
    &::after {
      content: "";
      background: #eb5339;
      position: absolute;
      width: 100%;
      height: 0%;
      transition: height 0.5s ease;
    }
  
    &::before {
      top: 50%;
      left: 0;
      z-index: -1;
    }
  
    &::after {
      bottom: 50%;
      left: 0;
      z-index: -1;
    }
  
    &:hover {
      &::after,
      &::before {
        height: 50%;
      }
    }
  }
  .wordDescription{
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    line-height: 100%;
    text-transform: none;
    top:0;
    right: 0;
    max-width: 40%;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
  }