.nav{
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 40px 50px 0px;
    height: 100%;
    box-sizing: border-box;
    .body{
        display: flex;
        gap: 10px;
        flex-direction: column;
       
        .linkContainer{
            overflow: hidden;
            perspective: 120px;
            perspective-origin: bottom;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 30px;
            margin-left: 40px;
            opacity: 0.8;

            &:hover{
            opacity: 1;
                
            }
        }
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        a{
            width: 50%;
            margin-top: 5px;
        }
    }
}